<div class="top">
    <h2>Quản lý sinh viên nội trú</h2>
    <div class="right">
        <p-button (click)="showAdd()" icon="pi pi-external-link" label="Đăng ký"></p-button>
        
        <!-- <p-button (click)="exportExcel()" icon="pi pi-external-link" label="Export data"></p-button> -->
    </div>
</div>
<div class="bot">
    <p-panel header="Tìm kiếm" [style]="{'margin-top': '2px'}">
        <form class="form-horizontal" role="form" [formGroup]="formsearch"  (ngSubmit)="search()">
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> Họ tên </label>
                <div class="col-sm-10">
                    <input formControlName="ho_ten" class="form-control" type="text" placeholder="Họ tên" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> Ngày đăng ký </label>
                <div class="col-sm-10">
                    <input formControlName="ngay_dang_ky" class="form-control" type="date" placeholder="Ngày đăng ký" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right"> Năm học</label>
                <div class="col-sm-10">
                    <input formControlName="nam_hoc" class="form-control" type="text" placeholder="Năm học" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right"></label>
                <div class="col-sm-11">
                    <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
                </div>
            </div>
        </form> 
        <!-- Start Sort Select Option -->
        <div class="sort-select-list d-flex align-items-center mt-3">
            <label class="mr-2">Hiển thị:</label>
            <fieldset>
                <select class="form-control" [(ngModel)]="pageSize" (ngModelChange)="loadPage(1)">
                    <option selected value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="{{totalItems}}">All</option>
                </select>
            </fieldset>
        </div> 
        <!-- End Sort Select Option -->
        <div class="col-md-4 text-right">
            <!-- <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button> -->
        </div>
    </p-panel>
    <p-table id="student" selectionMode="single" [value]="list_student_stayin" styleClass="p-datatable-gridlines" [style]="{'margin-top': '2px', 'width': '100%'}" >
        <ng-template pTemplate="header">
            <tr>
                <th>STT</th>
                <th>Mã sinh viên</th>
                <th>Họ tên</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Lớp học</th>
                <th>Địa chỉ thường trú</th>
                <th>Ngày đăng ký</th>
                <th>Năm học</th>
                <th>Học kỳ</th>
                <th>Bắt đầu nội trú</th>
                <th>Kết thúc nội trú</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student  let-i="rowIndex">
            <tr>
                <td style="text-align: center;">{{i+1}}</td>
                <td style="text-align: center;">{{student.ma_sinh_vien}}</td>
                <td style="text-align: center;">{{student.ho_ten}}</td>
                <td style="text-align: center;">{{student.so_dien_thoai}}</td>
                <td style="text-align: center;">{{student.email}}</td>
                <td style="text-align: center;">{{student.lop_hoc}}</td>
                <td style="text-align: center;">{{student.dia_chi_thuong_tru}}</td>
                <td style="text-align: center;">{{student.ngay_dang_ky | DateVN}}</td>
                <td style="text-align: center;">{{student.nam_hoc}}</td>
                <td style="text-align: center;">{{student.hoc_ky}}</td>
                <td style="text-align: center;">{{student.bat_dau_noi_tru | DateVN}}</td>
                <td style="text-align: center;">{{student.ket_thuc_noi_tru | DateVN}}</td>
                <td  style="text-align: center;">
                    <button pButton type="button" (click)="openUpdateModal(student)" title="Edit"  class="p-button-secondary">Edit</button>
                    <button pButton type="button" onclick="confirm('Bạn chắc chắn muốn xóa không?')" (click)="onDelete(student.ma_noi_tru)" title="Delete"  class="p-button-danger">Delete</button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="mt-5" style="position: relative;margin-left: 40%;">
        <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
</div>


<p-dialog [(visible)]="displayAdd" [style]="{width: '50vw'}" [dismissableMask]="true" [modal]="true">
    <form *ngIf="doneSetupForm" [formGroup]="formdata" (ngSubmit)="onSubmit(formdata.value)">
        <h4  *ngIf="isCreate" class="modal-title">Đăng ký sinh viên ở nội trú</h4>
        <h4 *ngIf="!isCreate" class="modal-title">Sửa thông tin sinh viên</h4>
        <div style="width: 100%;">
            <label style="font-weight: bold;">Họ tên sinh viên</label>
            <p-dropdown [style]="{'width': '100%', 'height': '50%'}" [options]="students"  formControlName="ma_sinh_vien" [(ngModel)]="selectedSinhVien" optionLabel="ho_ten" [filter]="true" filterBy="ho_ten" [showClear]="true" placeholder="Họ tên sinh viên" >
                <ng-template pTemplate="selectedItem">
                    <div class="student-item student-item-value" *ngIf="selectedSinhVien">
                        <div>{{selectedSinhVien.ho_ten}}</div>
                    </div>
                </ng-template>
                <ng-template let-student pTemplate="item">
                    <div class="student-item">
                        <div>{{student.ho_ten}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <div class="col alert alert-danger" role="alert" *ngIf="f.ma_sinh_vien.errors && f.ma_sinh_vien?.touched">
                <div *ngIf="f.ma_sinh_vien?.errors?.required">Không được phép rỗng</div>
            </div>
            
            <label style="font-weight: bold;">Ngày đăng ký</label>
            <input type="date" class="form-control" name="ngay_dang_ky"  formControlName="ngay_dang_ky" >
            <div *ngIf="submitted && f.ngay_dang_ky.errors" class="invalid-feedback">
                <div *ngIf="f.ngay_dang_ky.errors.required">Họ tên bắt buộc phải nhập</div>
            </div>
            
            <label style="font-weight: bold;">Năm học</label>
            <select class="form-control form-control-sm" [(ngModel)]="nam_hoc" formControlName="nam_hoc"   >
                <option value="2019-2020">2019-2020</option>
                <option value="2020-2021">2020-2021</option>
                <option value="2021-2022">2021-2022</option>
                <option value="2022-2023">2022-2023</option>
                <option value="2023-2024">2023-2024</option>
                <option value="2024-2025">2024-2025</option>
            </select>
            <div *ngIf="submitted && f.nam_hoc.errors" class="invalid-feedback">
                <div *ngIf="f.nam_hoc.errors.required">Năm học bắt buộc phải nhập</div>
            </div>

            <label style="font-weight: bold;">Học kỳ</label>
            <select class="form-control form-control-sm" [(ngModel)]="hoc_ky" formControlName="hoc_ky" name="hoc_ky"   >
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <div *ngIf="submitted && f.hoc_ky.errors" class="invalid-feedback">
                <div *ngIf="f.hoc_ky.errors.required">Học kỳ bắt buộc phải nhập</div>
            </div>
            
            
            <label style="font-weight: bold;">Thời gian bắt đầu nội trú</label>
            <input type="date" class="form-control" name="bat_dau_noi_tru"  formControlName="bat_dau_noi_tru">
            <div *ngIf="submitted && f.bat_dau_noi_tru.errors" class="invalid-feedback">
                <div *ngIf="f.bat_dau_noi_tru.errors.required">Thời gian bắt đầu nội trú bắt buộc phải nhập</div>
            </div>
            
            <label style="font-weight: bold;">Thời gian kết thúc nội trú</label>
            <input type="date" class="form-control" name="ket_thuc_noi_tru"  formControlName="ket_thuc_noi_tru">
            <div *ngIf="submitted && f.ket_thuc_noi_tru.errors" class="invalid-feedback">
                <div *ngIf="f.ket_thuc_noi_tru.errors.required">Thời gian kết thúc nội trú bắt buộc phải nhập</div>
            </div>
            
            <div class="mt-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="mdi mdi-check"></i>Lưu</button>
                <button type="button" (click)="displayAdd=false" class="btn btn-danger btn-lg btn-block "> <i class="mdi mdi-window-close"></i>Huỷ</button>
            </div>
        </div>
    </form>
</p-dialog>

